{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/app/ico/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static '/app/ico/favicon.ico' %}" type="image/x-icon">
  <title>{% block title %}{{Setting.sName}}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/styles.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/framework.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/fontawesome-all.min.css' %}" media="all">
</head>
<body>
{% block block %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url( {% static '/app/img/backgrounds/01.png' %} );">
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul class="nospace">
            <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/573117564624"> +57 3117564624</a></li>
            <li><i class="far fa-envelope rgtspace-5"></i><a href="mailto:info@mylifetravel.com.co?subject=Informacion&body=MyLife%20Travel"> info@mylifetravel.com</a></li>
          </ul>
        </div>
        <div class="fl_right"> 
         <ul class="nospace">
            <li><a href="{% url 'index' %}"><i class="fas fa-home"></i></a></li>
            <!--<li><a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
            <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>-->
          </ul>
        </div>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left"> 
         <h1><a href="{% url 'index' %}">{{Setting.sName}}</a></h1>
       </div>
        <nav id="mainav" class="fl_right"> 
          <!-- ################################################################################################ -->
          <ul class="clear">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'gallery' %}">Catalogo</a></li>
          </ul>
          <!-- ################################################################################################ -->
        </nav>
      </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <img src="{% static '/app/img/tools/logo.png' %}" id="logo-home" alt="logo">
        <p class="white-slogan">Vive el mundo sin preocupaciones<br>  
          ¡Paquetes todo incluido a los destinos más populares!
        </p>
        <footer>
          <ul class="nospace inline pushright">
            <li><a class="btn" href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}/?text=Hola!%20MyLifeTravel!" target="blank">CONTACTAR</a></li>
            <li><a class="btn" href="{% url 'gallery' %}">CATALOGO</a></li>
          </ul>
        </footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- End Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks">
        <ul class="nospace group btmspace-80">
          <li class="one_third first">
            <figure><a class="imgover" href="{% url 'gallery-group' hType='t' %}"><img src="{% static '/app/img/pics/01.jpg' %}" alt=""></a>
              <figcaption>
                <h6 class="heading">TURISMO</h6>
                  <p>
                    ¡Reserva ahora tus vacaciones y prepárate para vivir una experiencia única en los destinos 
                    turísticos más espectaculares del mundo!
                  </p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><a class="imgover" href="{% url 'gallery-group' hType='i' %}"><img src="{% static '/app/img/pics/02.jpg' %}" alt=""></a>
              <figcaption>
                <h6 class="heading">VACACIONES</h6>
                  <p>
                    Servicio de alquiler de cabañas y fincas turísticas. 
                    Descubre la auténtica vida rural con todas las comodidades que necesitas.
                  </p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><a class="imgover" href="{% url 'gallery-group' hType='g' %}"><img src="{% static '/app/img/pics/03.jpg' %}" alt=""></a>
              <figcaption>
                <h6 class="heading">GAMPLING</h6>
                  <p>
                    El Glamping combina la aventura y la emoción de acampar al aire libre con las comodidades y el confort 
                    de un hotel de lujo. 
                  </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <hr class="btmspace-20">
      <!-- ################################################################################################ -->
      <div class="wrapper row3">
        <section class="hoc container clear"> 
          <!-- ################################################################################################ -->
          <div class="sectiontitle">
            <p class="nospace font-xs black-slogan">¡Descubre el lugar perfecto para tus vacaciones!</p>
            <p class="heading underline font-x2">IMPERDIBLES</p>
          </div>
          <ul id="latest" class="nospace group-flex">
          {% if iHotel %}
            {% for i in iHotel %}
            {% if i == iHotel.0 %}<li class="one_third first">{% else %}<li class="one_third">{% endif %}
              <article><a class="imgover" href="{% url 'info-hotel' hCode=i.hCode %}">
                <img class="imgover-img"src="{{i.hBanner.url}}" alt=""></a>
                <ul class="nospace meta group">
                  <li><i class="fas fa-map-marker-alt"></i> 
                    <a target="blank" href="{{i.hMap}}">{{i.hLocation}}</a></li>
                  <li><i class="fas fa-barcode"></i>
                    <code>#{{i.hCode}}</code>
                  </li>
                </ul>
                <div class="excerpt">
                  <h6 class="heading">{{i.hHotel}}</h6>
                  <p>{{i.hText|safe}}
                  <footer>
                    <a class="btn btmspace-15 uppercase topspace-50"
                    href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}/?text=Hola!%20MyLifeTravel!%0AInformación%20del%20Inmueble%20{{i.hCode}}">
                      Solicitar
                    </a>
                  </footer></p>
                </div>
              </article>
            </li>
            {% endfor %} 
          {% else %}
            {% for i in '123'|make_list %}
              {% if i == "1" %}<li class="one_third first">{% else %}<li class="one_third">{% endif %}
                <article><a class="imgover" href="#"><img src="{% static '/app/img/pics/348x261.png' %}" alt=""></a>
                  <ul class="nospace meta group">
                    <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
                    <li><i class="far fa-clock"></i>
                      <time datetime="2045-04-05T08:15+00:00">05 Apr 2045</time>
                    </li>
                  </ul>
                  <div class="excerpt">
                    <h6 class="heading">TITULO OCACIONAL</h6>
                    <p>Molestie vulputate a luctus nulla nulla eleifend justo in libero feugiat congue donec sit amet pharetra velit.</p>
                    <footer><a class="btn" href="#">Read More</a></footer>
                  </div>
                </article>
              </li>
            {% endfor %}
          {% endif %}

          </ul>
          <!-- ################################################################################################ -->
        </section>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <hr class="btmspace-10">
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <p class="nospace font-x0 black-slogan">¡Viaja y vive experiencias inolvidables!</p>
        <p class="heading underline font-x2">Estadisticas</p>
      </div>
      <ul id="stats" class="nospace group">
        <li><i class="fas fa-user"></i>
          <p><a href="#">{{ListBooking.0}}</a></p>
          <p>Hoteles</p>
        </li>
        <li><i class="fas fa-leaf"></i>
          <p><a href="#">{{ListBooking.1}}</a></p>
          <p>Inmuebles</p>
        </li>
        <li><i class="fas fa-globe"></i>
          <p><a href="#">{{ListBooking.2}}</a></p>
          <p>Glampings</p>
        </li>
        <li><i class="fas fa-map-marker-alt"></i>
          <p><a href="#">{{ListBooking.3}}</a></p>
          <p>Tours</p>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="bgded overlay row4" style="background-image:url( {% static '/app/img/backgrounds/04.png' %} );">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-50">
        <h6 class="heading">{{Setting.sName}}</h6>
        <ul class="faico clear">
          <li><a class="faicon-instagram" target="blank" href="{{Setting.sURL1}}"><i class="fab fa-instagram"></i></a></li>
          <li><a class="faicon-facebook" target="blank" href="{{Setting.sURL2}}"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" target="blank" href="{{Setting.sURL3}}"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <p class="nospace white-slogan font-x0">¡Siguenos en nuestras redes sociales y no te pierdas de ninguan promocion!</p>
      </div>
      <!-- ################################################################################################ -->
      <hr class="btmspace-50">
      <!-- ################################################################################################ -->
      <div class="group btmspace-50">
        <div class="one_quarter first">
          <h6 class="heading">SUSCRIBIRME</h6>
          <p class="nospace btmspace-10 justified font-x085">
            ¡No te pierdas la oportunidad de estar al tanto de las últimas noticias, tendencias y novedades!<br><br>
            ¡Suscríbete a nuestro boletín semanal!
          </p>
          <form action="{% url 'index' %}" target="_self" method="POST" id="form-singin">
            {% csrf_token %}
            <fieldset>
              <legend>Novedades:</legend>
              <input class="btmspace-15" type="text" value="" name="name" id="name" placeholder="Usuario">
              <input class="btmspace-15" type="text" value="" name="email" id="email" placeholder="Email">
              <div id="sMessage"><p>¡Suscripcion Exitosa!</p></div>
              <div id="eMessage"><p>¡Error! Intentelo Nuevamente</p></div>
              <button id="sButton" type="submit" value="submit">SUSCRIBIRME</button>
            </fieldset>
          </form>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Noticias</h6>
          <ul class="nospace linklist">
            {% if ListNews %}
              {% for i in ListNews %}
              <li>
                <article>
                  <p class="nospace btmspace-10"><a href="#" title="{{i.nName}}">{{i.nText}}</a></p>
                  <time class="block font-xs" datetime="2045-04-06">{{i.nDate}}</time>
                </article>
              </li>
              {% endfor %}
            {% else %}
              {% for i in '01'|make_list %}
              <li>
                <article>
                  <p class="nospace btmspace-10"><a href="#">Mauris nam odio dui vestibulum a molestie ac pulvinar a tellus donec nisi dui.</a></p>
                  <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                </article>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">LINKS</h6>
          <ul class="nospace linklist">
            {% for i in Info %}
              <li><a href="{% url 'legal' iURL=i.iURL %}">{{i.iTitle}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">TOURS POPULARES</h6>
          <ul class="nospace clear latestimg">
            {% if iTours %}
              {% for i in iTours %}
                <li class="full-imgover"><a class="imgover" href="{% url 'info-tours' tCode=i.tCode %}" title="{{i.tTour}}"><img src="{{i.tBanner.url}}"></a></li>
              {% endfor %}
            {% else %}
              {% for i in '123456789'|make_list %}
                <li><a class="imgover" href="#"><img src="{% static '/app/img/pics/100x100.png' %}" alt=""></a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      <!-- ################################################################################################ -->
      </div>
      <div id="ctdetails" class="clear">
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}"><i class="fab fa-whatsapp"></i></a> <span><strong>WhatsApp:</strong> +{{Setting.sIdx}} {{Setting.sTel}}</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="mailto:{{Setting.sEmail}}?subject=Informacion&body=Life%20Travel"><i class="fas fa-envelope"></i></a> <span><strong>Email:</strong> {{Setting.sEmail}} </span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Lunes - Sabados:</strong> {{Setting.sTime1}}am - {{Setting.sTime2}}pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Oficinas:</strong>{{Setting.sAddress}}</span></div>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - <a href="#">{{Setting.sName}}</a></p>
      <p class="fl_right"><a target="_blank" href="#" title="{{Setting.sName}}">COLOMBIA</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="{% static '/app/js/jquery.form.js' %}"></script>
  <script src="{% static '/app/js/jquery.min.js' %}"></script>
  <script src="{% static '/app/js/jquery.backtotop.js' %}"></script>
  <script src="{% static '/app/js/jquery.overlay.js' %}"></script>
  <script src="{% static '/app/js/jquery.mobilemenu.js' %}"></script>
{% endblock %}
<!--<style>body {font-family: "Animace", sans-serif;}</style>-->
</body>
</html>
