.bg-image-01 {
  background-image: url(../img/fonds/fond01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.bg-image-02 {
  background-image: url(../img/fonds/fond02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.bg-image-03 {
  background-image: url(../img/fonds/fond03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#myDiv.visible {
  opacity: 1;
  transform: translateY(0);
}


.success {
  color:darkgreen;
  text-transform: uppercase;
  font-weight: normal;
  align-items: center; 
  text-align: center;
}

.error {
  color:brown;
  text-transform: uppercase;
  font-weight: normal;
  align-items: center; 
  text-align: center;
}

/*///////////////////////////////////////////////////////////////*/
/* CARD COMPONENT START /////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
*,
*::before,
*::after {
box-sizing: border-box;
}

.flow > * + * {
margin-top: var(--flow-space, 1em);
}

.card {
display: grid;
place-items: center;
width: 80vw;
max-width: 21.875rem;
height: 28.125rem;
overflow: hidden;
border-radius: 0.625rem;
box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
grid-column: 1 / 2;
grid-row: 1 / 2;
}

.card__background {
object-fit: cover;
max-width: 100%;
height: 100%;
}

.card__content {
--flow-space: 0.9375rem;
display: flex;
width: 100%;
flex-direction: column;
justify-content: space-between;
align-self: flex-end;
height: 55%;
padding: 12% 1.25rem 1.875rem 2rem;
background: linear-gradient(
  180deg,
  hsla(0, 0%, 0%, 0) 0%,
  hsla(0, 0%, 0%, 0.85) 85%,
  hsl(0, 0%, 0%) 100%
);
}

.card__content--container {
--flow-space: 1.25rem;
}

.card__title {
position: relative;
width: fit-content;
width: -moz-fit-content;
}

.card__title::after {
content: "";
position: absolute;
height: 0.3125rem;
width: calc(100% + 1.25rem);
bottom: calc((1.25rem - 0.5rem) * -1);
left: -1.25rem;
background-color: var(--brand-color);
}

.card__button {
padding: 0.25em 0.2em;
width: fit-content;
width: -moz-fit-content;
font-variant: small-caps;
font-weight: bold;
border-radius: 0.45em;
border: none;
background-color: var(--brand-color);
font-family: var(--font-title);
font-size: 1.125rem;
color: var(--black);
}

.card__button:focus {
outline: 2px solid black;
outline-offset: -5px;
}

.card_img{
width: 20rem;
}


.pagination-button{
display: flex;
align-items: center;
justify-content: center;
width: 3rem;
height: 3rem;
border-radius: 9999px;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms;
font-weight: 600;
--tw-border-opacity: 1;
border-width: 1px;
border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.pagination-button:hover {
--tw-bg-opacity: 1;
background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

@media (any-hover: hover) and (any-pointer: fine) {
.card__content {
  transform: translateY(62%);
  transition: transform 500ms ease-out;
  transition-delay: 500ms;
}

.card__title::after {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 100ms ease-in, transform 500ms ease-out;
  transition-delay: 500ms;
  transform-origin: right;
}

.card__background {
  transition: transform 500ms ease-in;
}

.card__content--container > :not(.card__title),
.card__button {
  opacity: 0;
  transition: transform 100ms ease-out, opacity 100ms ease-out;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
  transition: transform 500ms ease-in;
}

.card:hover .card__content,
.card:focus-within .card__content {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}

.card:focus-within .card__content {
  transition-duration: 0ms;
}

.card:hover .card__background,
.card:focus-within .card__background {
  transform: scale(1.3);
}

.card:hover .card__content--container > :not(.card__title),
.card:hover .card__button,
.card:focus-within .card__content--container > :not(.card__title),
.card:focus-within .card__button {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transition-delay: 1000ms;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: opacity 500ms ease-in, transform 500ms ease-in;
  transition-delay: 500ms;
}
}

/*///////////////////////////////////////////////////////////////*/
/* CARD COMPONENT END ///////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
