{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/app/ico/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static '/app/ico/favicon.ico' %}" type="image/x-icon">
  <title>{% block title %}{{Setting.sName}}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/styles.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/framework.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/glider/glider_bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/glider/glider.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/app/css/glider/glider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/fontawesome-all.min.css' %}" media="all">
</head>
<body>
{% block block %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay">
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <ul class="nospace">
                    <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/573117564624"> 3117564624</a></li>
                    <li><i class="far fa-envelope rgtspace-5"></i><a href="mailto:info@mylifetravel.com.co?subject=Informacion&body=Life%20Travel"> info@mylifetravel.com</a></li>
                </ul>
            </div>
            <div class="fl_right"> 
                <ul class="nospace">
                    <li><a href="{% url 'index' %}"><i class="fas fa-home"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left"> 
                <h1><a href="{% url 'index' %}">{{Setting.sName}}</a></h1>
            </div>
            <nav id="mainav" class="fl_right"> 
                <ul class="clear">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'gallery' %}">Catalogo</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="container-info" class="flex-row flex-start space-between">
        <div class="flex-row">
            <div class="carousel">
                <div class="carousel__contenedor">
                    <button aria-label="Anterior" class="carousel__anterior">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                <div class="carousel__lista">
                {% if DoesNotExist %}
                {% elif hCode %}
                    {% for i in fHotel %}
                        <div class="carousel__elemento">
                            <img class="travel-banner" src="{{i.hFiles.url}}">
                        </div>
                    {% endfor %}
                {% elif tCode %}
                    {% for i in fTours %}
                        <div class="carousel__elemento">
                            <img class="travel-banner" src="{{i.tFiles.url}}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="carousel__elemento">
                        <img class="travel-banner" src="{% static '/assets/img/comingsoon.png' %}">
                    </div>
                {% endif %}
                </div>
                    <button aria-label="Siguiente" class="carousel__siguiente">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div role="tablist" class="carousel__indicadores"></div>
            </div>
            <div class="info-data row2 space-between">
                <div>
                    <h6 class="text-center uppercase">Caracteristicas</h6>
                    <hr class="btmspace-10 topspace-10">
                    <address>
                    {% if DoesNotExist %}
                    {% elif hCode %}
                        Ubicacion: {{iHotel.hHotel.hLocation}}<br><br>
                        Valor/Noche: ${{iHotel.hHotel.hValue|intcomma}}<br>
                        Modalidad: {{hType}}<br>
                        <br></address></div><div><address>
                        Habitaciones: {{iHotel.hHotel.hRooms}}<br>
                        Capacidad: {{iHotel.hHotel.hUsers}}<br>
                        Wifi: {{iHotel.hHotel.hWifi|yesno:"Si,No"}}<br>
                        TV: {{iHotel.hHotel.hTV|yesno:"Si,No"}}<br>
                        Estereo: {{iHotel.hHotel.hSound|yesno:"Si,No"}}<br>
                        Piscina: {{iHotel.hHotel.hPool|yesno:"Si,No"}}<br>
                        BBQ: {{iHotel.hHotel.hBBQ|yesno:"Si,No"}}<br>
                        Sendero Ecologico: {{iHotel.hHotel.hEcological|yesno:"Si,No"}}<br>
                    {% elif tCode %}
                        Ubicacion: {{iTours.tTour.tLocation}}<br><br>
                        Valor: ${{iTours.tTour.tValue|intcomma}}<br>
                        Duracion (Dias): {{iTours.tTour.tDeltaTime}}<br>
                        <br></address></div><div><address>
                        Alojamiento: {{iTours.tTour.tHotel|yesno:"Si,No"}}<br>
                        Transporte: {{iTours.tTour.tTransport|yesno:"Si,No"}}<br>
                        Alimentacion: {{iTours.tTour.tFood|yesno:"Si,No"}}<br>
                        Guia: {{iTours.tTour.tGuie|yesno:"Si,No"}}<br>
                        Zona Humeda: {{iTours.tTour.tPools|yesno:"Si,No"}}<br>
                        Sendero Ecologico: {{iTours.tTour.tEcological|yesno:"Si,No"}}<br>
                    {% endif %}
                    </address>
                </div>
            </div>
        </div>
        <div class="info-data row2 space-between">
            {% if DoesNotExist %}
            {% elif hCode %}
                <span class="space-between">
                    <span class="flex-row space-between ">
                        <h6 class="uppercase btmspace-00">{{iHotel.hHotel.hHotel}}</h6>
                        <span><i class="fas fa-barcode"></i> {{iHotel.hHotel.hCode}}</span>
                    </span><br>
                    <h4 class="info-desc">{{iHotel.hHotel.hTextX|safe}}</h4>
                </span>
                <footer class="flex-row">
                    <a class="btn btmspace-00 uppercase" href="{{iHotel.hHotel.hMap}}" target="blank"><i class="fas fa-map-marker-alt"></i></a>
                    <a class="btn btmspace-00 uppercase lft-space-10 border-all10" 
                        href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}/?text=Hola!%20MyLifeTravel!%0AInformación%20del%20Inmueble%20{{iHotel.hHotel.hCode}}">
                        Solicitar
                    </a>
                </footer>
            {% elif tCode %}
                <span class="space-between">
                    <span class="flex-row space-between ">
                        <h6 class="uppercase btmspace-00">{{iTours.tTour.tTour}}</h6>
                        <span><i class="fas fa-barcode"></i> {{iTours.tTour.tCode}}</span>
                    </span><br>
                    <h4 class="info-desc">{{iTours.tTour.tTextX|safe}}</h4>
                </span>
                <footer class="flex-row">
                    <a class="btn btmspace-10 uppercase" href="{{iTours.tTour.tMap}}" target="blank"><i class="fas fa-map-marker-alt"></i></a>
                    <a class="btn btmspace-10 uppercase lft-space-10" 
                        href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}/?text=Hola!%20MyLifeTravel!%0AInformación%20del%20Inmueble%20{{iTours.tTour.tCode}}">
                        Solicitar
                    </a>
                </footer>
            {% endif %}
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="bgded overlay row4" style="background-image:url( {% static '/app/img/backgrounds/04.png' %} );">
        <footer id="footer" class="hoc clear"> 
            <ul class="nospace clear">
                <li class="one_quarter first">
                    <div class="block clear"><a href="https://wa.me/{{Setting.sIdx}}{{Setting.sTel}}"><i class="fab fa-whatsapp"></i></a><span><strong> WhatsApp:</strong><br> +{{Setting.sIdx}} {{Setting.sTel}}</span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="mailto:{{Setting.sEmail}}?subject=Informacion&body=Life%20Travel"><i class="fas fa-envelope"></i></a> <span><strong>Email:</strong><br> {{Setting.sEmail}} </span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Lunes - Sabados:</strong><br> {{Setting.sTime1}}am - {{Setting.sTime2}}pm</span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Oficinas:</strong><br> {{Setting.sAddress}}</span></div>
                </li>
            </ul>
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script type="text/javascript" src="{% static '/app/js/glider/glider.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/glider/glider.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/glider/glider_bar.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/jquery.backtotop.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/jquery.overlay.js' %}"></script>
    <script type="text/javascript" src="{% static '/app/js/jquery.mobilemenu.js' %}"></script>
</div>
{% endblock %}
<!--<style>body {font-family: "Animace", sans-serif;}</style>-->
</body>
</html>


