

.contenedor-carousel {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	object-fit: cover;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: calc(50% - 285px);
	color: #1e1e1e;
}

.carousel__siguiente {
	right: calc(50% - 285px);
	color: #1e1e1e;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	cursor: pointer;
	border-radius: 999px;
	background: #a89cc8;
	width: 12px;
	height: 12px;
	margin-bottom: 0px;
	opacity: .2;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}